.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
font-family: fontello;
src: url("./xFiles/fontello.eot?78273339");
src: url("./xFiles/fontello.eot?78273339#iefix") format('embedded-opentype'),
     url("./xFiles/fontello.woff?78273339") format('woff'),
     url("./xFiles/fontello.ttf?78273339") format('truetype'),
     url("./xFiles/fontello.svg?78273339#fontello") format('svg');
font-weight: normal;
font-style: normal;
}

/* Loader */
.cssSpinner {
  display: none;
  background-color: rgba(0,0,0,0.6);
  padding-top: 140px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.cssLoader {
  margin: auto;
  width: 60px;
  height: 60px;
  border: 5px solid #00131a;
  border: 5px dashed #00bfff;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  border-radius: 50%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/* ==================== */

/* Body */
body {
  font-size: 14px;
  color: #00bfff;
  background-color: #000000;
  cursor: default;
  margin: 0 auto;
  min-width: 340px;
  max-width: 340px;
  padding: 10px;
  border-collapse: collapse;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Verdana, Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji";
}


/* Top Bar */
#idTopBar {
  display: none;
  text-align: center;
  background-color: #004d66;
  padding: 6px 10px;
}
#idOnline,
#idNetTime,
.cssBarNav {
  position: relative;
  display: inline-block;
}
#idNetTime {
  color: Gold;
  font-weight: normal;
}
#idOnline {
  font-weight: bold;
  float: right;
}
.cssBarNav {
  float: left;
}
.cssBarBtn {
  font-weight: bold;
}
.cssBarContent {
  display: none;
  text-align: left;
  font-weight: normal;
  background-color: #002633;
  border: 1px solid #007399;
  width: -webkit-max-content;
  width:    -moz-max-content;
  width:         max-content;
  position: absolute;
}
.cssBarContent a {
  display: block;
  padding: 8px 16px;
}
.cssBarNav:hover .cssBarBtn {
  color: #99e6ff;
}
.cssBarNav:hover .cssBarContent {
  display: block;
}
.cssBarContent a:hover {
  background-color: #007399;
}

.blinkRed {
  color: red;
}
.blinkGreen {
  color: lime;
}
.blinkErr {
  color: #ffe033;
}
/*
.blinkErr,
.blinkRed,
.blinkGreen {
  animation: blink 2s linear infinite;
}
@keyframes blink {
    0%{opacity: 1;}
   49%{opacity: 1;}
   60%{opacity: 0;}
   99%{opacity: 0;}
  100%{opacity: 1;}
}
*/


/* Main */
.cssMain {
  margin: 0;
  padding: 0;
}


/* Logo */
#idLogoData {
  display: none;
  font-size: 12px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
}
#idWiFiName {
  font-size: 23px;
  font-weight: normal;
  color: #00ffff;
}
#idAbout {
  font-weight: bold;
  color: Gold;
}
#idHostName {
  font-weight: bold;
  color: #00ffff;
}


/* Login-Tab */
#idLoginTab {
  display: none;
  text-align: center;
  margin-top: 5px;
}


/* Menu */
.cssMenuHead0,
.cssMenuHead1 {
  display: none;
  padding: 0 15px;
  margin-top: 8px;
  border-radius: 10px;
}
.cssMenuHead0 {
  border: 2px solid #7fff00;
  background-image: -o-linear-gradient(#264d00, #1a3300, #264d00);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#264d00), color-stop(#1a3300), to(#264d00));
  background-image:    linear-gradient(#264d00, #1a3300, #264d00);
}
.cssMenuHead1 {
  text-align: center;
  background-color: #00001a;
  border: 2px solid #00bfff;
}
.cssMenuTag0,
.cssMenuTag1 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 8px 0;
}
.cssMenuTag0 {
  color: #7fff00;
}
.cssMenuTag1 {
  color: #00ff00;
}
.cssMenuHR0,
.cssMenuHR1 {
  background-color: #007399;
  border-width: 0;
  height: 1px;
  margin: 0px;
}
.cssMenuHR0 {
  margin-bottom: 5px;
}
.cssMenuHR1 {
  margin-top: 5px;
}


/* [ MenuBody ] */
.cssMenuBody {
  width: 100%;
  margin: 10px 0;
}

.cssVendoLeft,
.cssStatusLeft,
.cssLoginLeft {
  display: table-cell;
  width: 60%;
}
.cssLoginLeft {
  text-align: left;
  vertical-align: top;
}
.cssVendoLeft,
.cssStatusLeft {
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #007399;
}
.cssStatusLeft {
  vertical-align: middle;
}
.cssVendoLeft  {
  vertical-align: top;
}

.cssVendoRight,
.StatusRight,
.cssLoginRight {
  display: table-cell;
  text-align: right;
}
.cssVendoLeft,
.cssStatusLeft {
  vertical-align: middle;
}
.cssVendoLeft  {
  vertical-align: top;
}


/* [ Status ] */
#idStatusData {
  display: none;
  margin-bottom: 10px;
}
.cssStatusTop td {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid #007399;
}
.cssStatusTop .DataL {
  width: 40%;
  text-align: right;
}
.cssStatusTop .DataR {
  color: #00ffff;
  text-align: left;
}
.cssStatusBot {
  display: table;
  width: 100%;
}
#idValTimeLeft,
#idExpTimeLeft {
  font-size: 16px;
  color: #00ffff;
}
#idValTimeData {
  display: none;
}


/* [ Modal ] */
.cssModalHead {
  display: none;
  background-color: rgba(0,0,0,0.8);
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.cssModalBody {
  text-align: center;
  background-color: #00131a;
  padding: 0 15px;
  width: 300px;
  margin: 80px auto;
  border: 2px solid #00bfff;
  border-radius: 10px;
}
#idModalAlertText {
  padding: 20px 0 0 0;
  margin: 0;
}

.cssClose {
  font-weight: normal;
  float:right;
}
.cssCloseTag {
  font-size: 14px;
  font-weight: normal;
  padding: 8px 10px;
}


/* [ Vendo ] */
.cssVendoName {
  text-align: center;
}
#idVendoName {
  font-weight: normal;
  font-size: 20px;
  color: #00ffff;
}

#idJuanFiData,
#idJuanFiInfo,
#idJuanFiRate,
.cssJuanFiDiv {
  display: none;
  margin: 0;
}
#idJuanFiRate,
.cssJuanFiRate {
  text-align: center;
  padding-top: 10px;
}

#idJuanFiInfo,
.cssJuanFiInfo {
  text-align: left;
  padding: 10px 10px 0 10px;
}
#idJuanFiData,
.cssJuanFiData {
  text-align: center;
  padding-top: 20px;
}
#idJuanFiText,
#idDatUsrCode,
#idDatAmount,
#idDatTimeLft {
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}
#idJuanFiText {
  font-size: 12px;
}
#idDatUsrCode {
  color: #00ffff;
  font-size: 20px;
}
#idDatAmount,
#idDatTimeLft {
  color: #00ffff;
  font-size: 15px;
}


/* [ Messages ] */
#idMsgStatus,
#idMsgVendo,
#idMsgCoupon,
#idMsgMember,
#idMsgVoucher {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding: 5px 0px;
}


/* User/Admin Info/Logs */
#idLogInfoText,
#idAdminInfoText,
#idUserInfoText {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  margin: 5px 0px 8px 0px;
  overflow: auto;
  min-height: 50px;
}
#idLogInfoText,
#idAdminInfoText {
  height: 350px;
}
#idLogInfoText {
  font-size: 12px;
  overflow: auto;
  white-space: nowrap;
}
code {
  font-weight: bold;
  color: #00ffff;
}


/* [ INPUT-LOGIN ] */
input {
  font-size: 16px;
  font-weight: bold;
  color: #00131a;
  background-color: #ccf2ff;
  width: 160px;
  height: 34px;
  text-indent: 10px;
  border: none;
  outline: none;
}
input[type=password] {
  /*
  margin-top: 10px;
  */
}
input::-webkit-input-placeholder {
  font-weight: normal;
  letter-spacing: 1px;
  color: #00ace6;
}
input::-moz-placeholder {
  font-weight: normal;
  letter-spacing: 1px;
  color: #00ace6;
}
input:-ms-input-placeholder {
  font-weight: normal;
  letter-spacing: 1px;
  color: #00ace6;
}
input::-ms-input-placeholder {
  font-weight: normal;
  letter-spacing: 1px;
  color: #00ace6;
}
input::placeholder {
  font-weight: normal;
  letter-spacing: 1px;
  color: #00ace6;
}
input:disabled {
  background-color: #002633;
}
input:disabled::-webkit-input-placeholder {
  color: #004d66;;
}
input:disabled::-moz-placeholder {
  color: #004d66;;
}
input:disabled:-ms-input-placeholder {
  color: #004d66;;
}
input:disabled::-ms-input-placeholder {
  color: #004d66;;
}
input:disabled::placeholder {
  color: #004d66;;
}
input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
}
label {
  font-size: 12px;
  font-weight: normal;
}
#idTogglePass {
  font-weight: bold;
  color: #002633;
}
#frmHidden {
  display: none;
}


/* [ BUTTONS ] */
button:disabled {
  color: #004d66;
  background: #00131a;
  border: 1px solid #002633;
}
button:active {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(85%);
          transform: scale(85%);
}

.cssBtnRecover,            /* Voucher / Coupon  */
.cssBtnJDone,              /* JuanFi */
.cssBtnTab,                /* Tab Voucher/Coupon/Member */
.cssBtnModal,              /* Modal */
.cssBtnReload,             /* Universal */
.cssBtn.db { /* DeepSkyBlue */
  color: #00bfff;
  border: 2px solid #00bfff;
  background-image: -o-linear-gradient(#00394d, #002633, #00394d);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#00394d), color-stop(#002633), to(#00394d));
  background-image:    linear-gradient(#00394d, #002633, #00394d);
}
.cssBtn.bu { /* Blue */
  color: #0000ff;
  border: 2px solid #0000ff;
  background-image: -o-linear-gradient(#00004d, #000033, #00004d);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#00004d), color-stop(#000033), to(#00004d));
  background-image:    linear-gradient(#00004d, #000033, #00004d);
}
.cssBtnJRates,             /* JuanFi */
.cssBtn.aq { /* Aqua */
  color: #00ffff;
  border: 2px solid #00ffff;
  background-image: -o-linear-gradient(#004d4d, #003333, #004d4d);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#004d4d), color-stop(#003333), to(#004d4d));
  background-image:    linear-gradient(#004d4d, #003333, #004d4d);
}
.cssBtn.li { /* Lime */
  color: #00ff00;
  border: 2px solid #00ff00;
  background-image: -o-linear-gradient(#004d00, #003300, #004d00);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#004d00), color-stop(#003300), to(#004d00));
  background-image:    linear-gradient(#004d00, #003300, #004d00);
}
.cssBtnLogin,              /* Voucher/Coupon/Member */
.cssBtn.ch { /* Chartreuse */
  color: #7fff00;
  border: 2px solid #7fff00;
  background-image: -o-linear-gradient(#264d00, #1a3300, #264d00);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#264d00), color-stop(#1a3300), to(#264d00));
  background-image:    linear-gradient(#264d00, #1a3300, #264d00);
}
.cssBtn.fu { /* Fuchsia */
  color: #ff00ff;
  border: 2px solid #ff00ff;
  background-image: -o-linear-gradient(#4d004d, #330033, #4d004d);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#4d004d), color-stop(#330033), to(#4d004d));
  background-image:    linear-gradient(#4d004d, #330033, #4d004d);
}
.cssBtnClose,              /* JuanFi/Member */
.cssBtnLogout,             /* Status */
.cssBtnPause,              /* Status */
.cssBtn.re { /* Red */
  color: #ff0000;
  border: 2px solid #ff0000;
  background-image: -o-linear-gradient(#4d0000, #330000, #4d0000);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#4d0000), color-stop(#330000), to(#4d0000));
  background-image:    linear-gradient(#4d0000, #330000, #4d0000);
}
.cssBtnCoupon,             /* Status */
.cssBtnVendo,              /* Status/Voucher */
.cssBtnJInsert,            /* JuanFi */
.cssBtn.ye { /* Yellow */
  color: #ffff00;
  border: 2px solid #ffff00;
  background-image: -o-linear-gradient(#4d4d00, #333300, #4d4d00);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#4d4d00), color-stop(#333300), to(#4d4d00));
  background-image:    linear-gradient(#4d4d00, #333300, #4d4d00);
}
.cssBtn.gy { /* Gray */
  color: #808080;
  border: 2px solid #808080;
  background-image: -o-linear-gradient(#404040, #262626, #404040);
  background-image:   -webkit-gradient(linear, left top, left bottom, from(#404040), color-stop(#262626), to(#404040));
  background-image:    linear-gradient(#404040, #262626, #404040);
}

.cssBtnCoupon,             /* Status */
.cssBtnClose,              /* JuanFi/Member */
.cssBtnJDone,              /* JuanFi */
.cssBtnJRates,             /* JuanFi */
.cssBtnLogin,              /* Voucher/Coupon/Member */
.cssBtnLogout,             /* Status */
.cssBtnPause,              /* Status */
.cssBtnReload {            /* Universal */
  font-size: 12px;
  font-weight: bold;
  width: 90%;
  height: 36px;
  margin: 5px 0;
  border-radius: 15px;
}
.cssBtnJInsert,            /* JuanFi */
.cssBtnVendo,              /* Status/Voucher */
.cssBtnLarge {
  font-size: 12px;
  font-weight: bold;
  width: 90%;
  height: 45px;
  margin: 5px 0;
  border-radius: 15px;
}
.cssBtnTab {               /* Tab Voucher/Coupon/Member */
  font-size: 12px;
  font-weight: bold;
  width: 30%;
  height: 30px;
  margin: 0 2px;
  border: 1px solid #00bfff;
  border-radius: 10px;
}
.cssBtnModal,              /* Modal */
.cssBtnRecover {           /* Voucher / Coupon  */
  border: 1px solid #00bfff;
  border-radius: 10px;
}
.cssBtnRecover {           /* Voucher / Coupon  */
  font-size: 11px;
  font-weight: normal;
  padding: 6px 15px;
  margin: 10px 0px;
}
#idErrBtnGroup {
  padding: 20px 0px 30px 0;
}
#idLogInfoBtn,
#idUserInfoBtn,
#idAdminInfoBtn {
  padding: 13px 0 15px 0;
}
.cssBtnModal {             /* Modal */
  font-size: 11px;
  font-weight: bold;
  padding: 8px 15px;
  margin: 0px 10px;
}
.cssBtnReload {            /* Universal */
  font-size: 10px;
  height: 25px;
  border: 1px solid #00bfff;
}
.cssBtnCoupon,             /* Status */
.cssBtnPause,              /* Status */
.cssBtnLogout,             /* Status */
.cssBtnDisplayNone {
  display: none;
}
.cssIcoClear,
.cssIcoCopy,
.cssIcoClose {
  height: 15px;
  float: right;
  margin-top: 2px;
}
.cssIcoClear,
.cssIcoCopy {
  margin-right: 10px;
}

/* [ TABLE ] */
table {
  width: 100%;
  border-collapse: collapse;
}

#idMember {
  font-size: 12px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 10px;
}

/* ==================== */